[submodule "Frontend"]
	path = Frontend
	url = https://github.com/Nekolya/RoboticWarehouse-IoT-Frontend
[submodule "Backend"]
	path = Backend
	url = https://github.com/Nekolya/RoboticWarehouse-IoT-CoreBackend
[submodule "RobotMock"]
	path = RobotMock
	url = https://github.com/Nekolya/RoboticWarehouse-IoT-RobotMock
